spring:
  cloud:
    gateway:
      discovery.locator.enabled: true # Gateway для своей работы должен использовать Discovery Service
      routes:
        - id: shopping_cart_service_route  # идентификатор или название роута
          uri: lb://shopping-cart # переадресация к экземпляру микросервиса shopping-cart
          # Префикс lb здесь означает, что Gateway с помощью DiscoveryClient и встроенного
          # балансировщика нагрузки найдёт экземпляр сервиса с идентификатором shopping-cart
          # и перенаправит запрос ему.
          # Можно не использовать префикс lb, а сразу указать конкретный адрес сервиса.
          # Например: http://localhost: 8081. К этому варианту можно обратиться, когда адрес
          # каждого сервиса фиксирован и заранее известен. Однако в нашем приложении, так как хост
          # и порт могут варьироваться между запусками, такой способ не подойдёт.

          predicates:
            - Path=/shopping-cart/** # имя предиката. используется условие по пути запроса и роут
            # будет обрабатывать запрос, если его путь соответствует шаблону /shopping-cart/**.
          filters:
            - PrefixPath=/api/v1 # Этот фильтр добавляет в начало пути каждого запроса, обрабатываемого
            # роутом, префикс /api/v1
            - LocalResponseCache=10m,100MB # Ответы будут кешироваться на 10 минут, а максимальный размер
            # кеша будет ограничен 100 мегабайтами.
            - CircuitBreaker=myCircuitBreaker

server:
  port: 8080 # конкретный порт, чтобы пользователи всегда могли обращаться к Gateway по одному и тому же адресу

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    hostname: localhost
    instance-id: "${spring.application.name}:${random.value}"
    leaseRenewalIntervalInSeconds: 10