spring:
  application:
    name: shopping_store
  datasource:
    url: jdbc:postgresql://localhost:5432/shopping-store
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 0

